<section class="bg-gray-200 dark:bg-gray-900 py-8 px-6">
    <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" id="issue-list">
        {% for issue in issues %}
        <!-- Example Problem Card -->
        <div class="bg-gray-100 dark:bg-gray-800 rounded-xl shadow-md p-5">
            <img src="{{ issue.image_url }}" alt="Issue Image"
                class="rounded-md h-40 w-full object-cover mb-4">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-2">{{ issue.title }}</h3>
                <p class="text-sm text-gray-600 dark:text-gray-100 mb-3">{{ issue.description }}</p>
                <div class="flex justify-between text-sm text-gray-500 dark:text-gray-200">
                    <span>Status:
                        <span class="{% if issue.status == 'Reported' %}text-yellow-600
                        {% elif issue.status == 'In Progress' %}text-blue-600
                        {% elif issue.status == 'Resolved' %}text-green-600
                        {% endif %}">
                            {{ issue.status }}
                        </span>
                    </span>
                    <span>{{ issue.distance }}</span>
                </div>
        </div>
        {% else %}
        <div class="bg-gray-100 dark:bg-gray-800 rounded-xl shadow-md p-5 col-span-3">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-2 text-center">No data Found</h3>
            <p class="text-sm text-gray-600 dark:text-gray-100 mb-3 text-center">No Queries Being Posted Yet. Be the First One to Post the Queries</p>
        </div>
        {% endfor %}
    </div>
    <div class="flex justify-center mt-8" id="pagination">
        <!-- <button data-page="1" class="px-3 py-1 mx-1 rounded-md border text-gray-500 hover:bg-gray-100">
            << First</button>
        <button data-page="{{ current_page - 1 }}" class="px-3 py-1 mx-1 rounded-md border text-gray-500 hover:bg-gray-100">
            < Prev</button> -->

        {% for page_num in range(1, total_pages + 1) %}
        <button data-page="{{ page_num }}"
            class="px-3 py-1 mx-1 rounded-md border {{ 'bg-blue-600 text-white' if page_num == current_page else 'text-gray-700 hover:bg-gray-100' }}">
            {{ page_num }}
        </button>
        {% endfor %}

        <!-- <button data-page="{{ current_page + 1 }}" class="px-3 py-1 mx-1 rounded-md border text-gray-500 hover:bg-gray-100">Next
            ></button>
        <button data-page="{{ total_pages }}" class="px-3 py-1 mx-1 rounded-md border text-gray-500 hover:bg-gray-100">Last
            >></button> -->
    </div>
</section>
<script src="{{ url_for('static', filename='js/problem-pagination.js') }}"></script>