<section class="bg-white py-4 px-6 dark:bg-gray-800 dark:text-white">
  <div class="max-w-screen-xl mx-auto grid grid-cols-3">
    <!-- Status Filter -->
    <div class="grid grid-cols-3 px-3">
      <label for="status" class="block text-sm font-medium text-gray-700 dark:text-white">Status</label>
      <select id="status" name="status" class="mt-1 block col-span-2 text-black bg-white dark:text-white dark:bg-gray-800 outline-none border-1 border-gray-100 rounded-md shadow-sm">
        <option value="">All</option>
        <option value="reported">Reported</option>
        <option value="in-progress">In Progress</option>
        <option value="resolved">Resolved</option>
      </select>
    </div>
    <!-- Category Filter -->
    <div class="grid grid-cols-3 px-3">
      <label for="category" class="block text-sm font-medium text-gray-700 dark:text-white">Category</label>
      <select id="category" name="category" class="mt-1 block col-span-2 text-black bg-white dark:text-white dark:bg-gray-800 outline-none border-1 border-gray-100 rounded-md shadow-sm">
        <option value="">All</option>
        <option value="roads">Roads</option>
        <option value="lighting">Lighting</option>
        <option value="water">Water Supply</option>
        <option value="cleanliness">Cleanliness</option>
        <option value="safety">Public Safety</option>
        <option value="obstructions">Obstructions</option>
      </select>
    </div>

    <!-- Distance Filter -->
    <div class="grid grid-cols-3 px-3">
      <label for="distance" class="block text-sm font-medium text-gray-700 dark:text-white">Distance</label>
      <select id="distance" name="distance" class="mt-1 block col-span-2 text-black bg-white dark:text-white  dark:bg-gray-800 outline-none border-1 border-gray-100 rounded-md shadow-sm">
        <option value="1">Within 1 km</option>
        <option value="3">Within 3 km</option>
        <option value="5" selected>Within 5 km</option>
      </select>
    </div>
  </div>
</section>
